export GOROOT=$(go1.19.4 env GOROOT)
export PATH=${GOROOT}/bin:${PATH}

export DOCKER_HOST=10.21.21.41
export DOCKER_TLS_VERIFY=1
export DOCKER_CERT_PATH="/mnt/c/IDE/Projects_Git/playground/nomadder/ansible/environment/local/docker_client"